body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:azure;
    color: black;
    margin: 3;
    padding: 2;
}
.container {
     margin: 20px;
     padding: 15px; 
      border: 2px solid red; 
      background-color:brown;  }

h1 {
  font-size: 2em;
  color: black;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  color: rgb(30, 0, 255);
}


p {
  line-height: 1.6;          /
  
}

ul {
  list-style-type: circle ;   
  margin-left: 20px;
}

.debug {
  border: 1px dashed red;                     
  background-color: yellowgreen; 
}
/* Reusable card style */
.card {
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  background-color: brown;
}

.spacing {
  margin: 10px;
  padding: 10px;
}


