
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  background-color: lightblue;
  color:black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background:lightpink;
  color:red;
  padding: 1rem 2rem;
}

header h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background: #51345e;
  border-radius: 4px;
}


nav a.active {
  background: #bc661a;
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
}

main {
  flex: 1;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

main h2 {
  margin-bottom: 1rem;
  color: black;
}

main p {
  margin-bottom: 1rem;
}


footer {
  background: lightcoral;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  background: #1abc9c;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #16a085;
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  main {
    padding: 1rem;
  }
}
